@model Jogador

@{
    ViewData["Title"] = "Jogadores";
}
<link rel="stylesheet" href="~/css/jogadores.css" asp-append-version="true">

<main>

    @if (ViewBag.Username == null)
    {
        <a class="navbar-brand" asp-area="" asp-controller="Login"
            asp-action="Index">Login</a>
    }

    else
    {


        <section class="container-grid cadastro-equipes">


            <form method="post" action="@Url.Action("Cadastrar")"
                class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                @* <input class="campo-entrada" type="number" id="id-equipe"
            placeholder="Digite o Id da sua equipe:"> *@
                @* <input class="campo-entrada" type="text" id="nome-equipe"
            placeholder="Digite o nome da sua equipe:"> *@

                <select class="campo-entrada" name="IdEquipe" id="equipe-select">
                    <option value="0">Selecione uma Equipe</option>

                    @foreach (var c in ViewBag.Equipe)
                    {
                        <option value="@c.IdEquipe">@c.Nome</option>
                    }

                </select>

                <input name="Nome" class="campo-entrada" type="text"
                    id="nome-jogador"
                    placeholder="Digite o nome do Jogador:">
                <input name="Email" class="campo-entrada" type="email"
                    id="email-jogador"
                    placeholder="Digite o Email do Jogador:">
                <input name="Senha" class="campo-entrada" type="password" id="senha"
                    placeholder="Digite a Senha:">
                <button type="submit">Cadastrar</button>




            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        
                            @* <th>ID</th> *@
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Equipe</th>
                            <th>Ações</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            @* <td>@jogador.IdJogador</td> *@
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img src="/img/Equipes/@jogador.Equipe.Imagem"
                                    alt="Imagem da
                            equipe @jogador.Equipe.Nome" width="50px">
                            </td>
                            <td id="edit-remove">
                                <a asp-area="" asp-controller="Jogador"
                                    asp-action="Excluir"
                                    asp-route-id="@jogador.IdJogador"><img
                                        class="yellow-trash" src="~/assets/trash.png"
                                        alt=""></a>
                                <a asp-area="" asp-controller="Jogador"
                                    asp-action="Editar"
                                    asp-route-id="@jogador.IdJogador"><img
                                        class="yellow-trash" src="~/assets/edit.svg"
                                        alt=""></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    }

</main>

@*

@if (ViewBag.Username == null)
{

<a class="navbar-brand" asp-area="" asp-controller="Login"
asp-action="Index">Login</a>
}

else
{
<h1>Tela de jogadores</h1>

<form method="post" action="@Url.Action("Cadastrar")">

<label for="">Nome</label>
<input type="text" name="Nome" required>

<label for="">Email</label>
<input type="email" name="Email" required>

<label for="">Senha</label>
<input type="password" name="Senha" required>

<select name="IdEquipe" id="">
<option value="0">Selecione uma Equipe</option>
@foreach (var c in ViewBag.Equipe)
{
<option value="@c.IdEquipe">@c.Nome</option>
}
</select>




<button type="submit">Cadastrar</button>
</form>





<table class="table table-striped table-responsive table-dark">
<thead>
<th>ID</th>
<th>Nome</th>
<th>Email</th>
<th>Equipe</th>
<th>Ações</th>
</thead>

<tbody>
@foreach (Jogador jogador in ViewBag.Jogador)
{
<tr>
<td>@jogador.IdJogador</td>
<td>@jogador.Nome</td>
<td>@jogador.Email</td>
<td>
<img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da
equipe @jogador.Equipe.Nome" width="50px">
</td>
<td>
<a asp-area="" asp-controller="Jogador" asp-action="Excluir"
asp-route-id="@jogador.IdJogador">Excluir</a>
<a asp-area="" asp-controller="Jogador" asp-action="Editar"
asp-route-id="@jogador.IdJogador">Editar</a>

</td>
</tr>
}

</tbody>
</table>

} *@